[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
passlib = "*"
bcrypt = "==4.0.1"
python-multipart = "*"
python-jose = "*"
pymysql = "*"
alembic = "*"
pytest = "*"
httpx = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.12"
